* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--primary-color);
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color:#edf2fc;
    --secondary-color: #212121;
}

.dark-mode{
    --primary-color: #000106;
    --secondary-color: #fff;
}
.hero {
    width: 100%;
    background: var(--primary-color);
    position: relative;
}
h1 {
    margin-bottom: 40px;
    color: #00308F;
    position: relative;
    top: 25px;
    font-size: 30px;
    left: 10%;
}

nav {
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    flex: 1;
    position: relative;
    /* text-align: left; */
    right: -20%;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

nav ul li a:hover {
    color: #00308F;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.project-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-item {
    display: flex;
    background: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-info {
    padding: 20px;
    flex: 1;
}

.project-info h2 {
    color:var(--secondary-color);
    font-size: 24px;
    margin-bottom: 10px;
}

.project-info p {
    color: var(--secondary-color);
    font-size: 16px;
    margin-bottom: 20px;
}

.try-it-btn {
    color: #00308F;
    text-decoration: none;
    border: 1px solid #00308F;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    top: 5px;
    position: relative;
    /* transition: background 0.3s; */
}

.try-it-btn:hover {
    background-color: #00308F;
    color: #fff;
}

.project-item img {
    width: 250px;
    height: 190px;
    /* object-fit: cover; */
}

@media (max-width: 768px) {
    .project-item {
        flex-direction: column;
        max-width: 100%;
    }

    .project-item img {
        width: 100%;
        height: auto;
    }
}

.img-box {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.img-box img {
    height: 100%;
    position: absolute;
    left: 60%;
    bottom: 0;
    transform: translateX(-50%);
    transition: transform 0.5s ease-out, bottom 0.5s ease-out;
}

.img-box img.bg {
    margin: 200px;
    height: 60%;
    position: relative;
    left: 31%;
    top: -20%;
    transition: transform 0.5s ease-out, top 0.5s ease-out;
}

.img-box:hover .bg {
    transform: translateX(-50%) translateY(-10%);
    top: -25%;
}

.img-box img.bg1 {
    transition: transform 1s ease-out;
}

.img-box:hover .bg1 {
    transform: translateX(-150px);
} 
.social-link {
    margin-left: 8%;
    margin-top: -11px;
    position: relative;
    z-index: 3;
    top: -1810px;
    left: 830px;
}

.social-link a {
    font-size: 50px;
    color: var(--secondary-color);
    margin-right: 20px;
    z-index: 4;
    top: -80px;
    position: relative;
}
.social-link a:hover{
    color: #00308F;
}
.lang{
    color: #00308F;
    position: relative;
    left: 160px;
    margin-bottom: 30px;
    margin-top: -30px;
    font-size: 28px;
}
.lang1{
    color: #00308F;
    position: relative;
    left: 160px;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 28px;
}
#icons{
    width: 30px;
    cursor: pointer;
}
